@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-[#36393f] text-[#dcddde];
} 