node_modules
server/node_modules
client/node_modules
server/.env
client/.env
.cursor/*
.cursor/
client/dist_electron/
client/android/
client/ios/
client/web/
client/windows/
client/macos/
client/linux/
client/dist/
.cursor/rules/discordclone.mdc